$background: #0B1118;
$color: #FFFFFF;
$navLinks:  #A5BDD9;
$blue-btn:  #0094FF;
$light-btn: #203146;
$light-cards: #172331;
$logos: #131E2A;
$blue-card: #0063AE;
$green-card:  #005964;
$olive-card: #2D5000;
$wine-card: #530039;
$more-card: #1C2A3B;
$spancolor: #5B728C;