$background: #0B1118;
$color: #FFFFFF;
$blue-btn:  #0094FF;
$light-btn: #203146;
$light-cards: #172331;
$logos: #131E2A;
$blue-card: #0063AE;
$green-card:  #005964;
$olive-card: #2D5000;
$wine-card: #530039;
$ore-card: #1C2A3B;