@import 'base';

.App {
  text-align: left;
  background-color: $background;
  color: $color;
  overflow-x: hidden;

  .btn{
    padding: 11px 16px;
    color: $color;
    border-radius: 4px;

    &:hover, &:focus{
      box-shadow: none;
      outline: 0;
    }
  }
  
  .btn-light-btn {
    @extend .btn;

    background-color: $light-btn;
  }

  .btn-blue-btn{
    background-color: $blue-btn;
  }
}

 
